<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../styles/index.css"/>
</head>

<body>
    <div class="left-dash">
        <div class="top-logo-box">
            <h1>Automated Device Flash</h1>
            <img src="../public/images/logo.png">
        </div>
        <div class="button-box">
            <div class="line"></div>

            <div class="line"></div>
        </div>
        <div class="credits-box">
        
        </div>
    </div>

    <div class="frame">
            
    </div>
</body>