<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
    <div class="grid-container">
        <button class="grid-button">
            <img src="../public/images/icon-account-bold.png" alt="profile">
            Profile
        </button>
        <button class="grid-button">
            <img src="../public/images/icon-magnifying-glass-bold.png" alt="search">
            Search
        </button>
        <button class="grid-button">
            <img src="../public/images/icon-list.png" alt="all">
            All
        </button>
        <button class="grid-button">
            <img src="../public/images/icon-phone-thin.png" alt="devices">
            Devices
        </button>
        <button class="grid-button">
            <img src="../public/images/icon-gear.png" alt="settings">
            Settings
        </button>
    </div>

    
</body>