body {
    font-family: 'Montserrat', sans-serif;
    background-color: #1E1E2E;
}

.grid-container {
    width: 170px;
    height: 620px;
    position: fixed;
    top: 40px;
    left: 30px;
    flex-shrink: 0;
    background-color: #313244;
    border-radius: 10px;
    background: #313244;
    box-shadow: 7px 6px 4px 0px rgba(0, 0, 0, 0.25);

    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(5, lfr);
    grid-gap: 11px;
}

.grid-button {
    width: 120px;
    height: 80px;

    color: #CDD6F4;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    flex-shrink: 0;
    border: 1px solid #45475A;
    border-radius: 8px;
    background-color: #45475A;
    box-shadow: 4px 6px 4px 0px rgba(0, 0, 0, 0.25);

    transition: all 0.3s;
}


.grid-button:hover {
    border-color: #89B4FA;
}

.grid-button img {
    padding: 3px;
}

p {
    font: Monsterrat;
}